@model List<Models.FixedExpense>

<section id="fixed-expenses-wrapper" class="w-50">

	<div class="d-flex gap-3 mb-2">
		<h3>Fixed Expenses</h3>
		<a asp-page="FixedExpense/Create" class="btn btn-info rounded-3">Create New</a>
	</div>

	<table id="expense-table" class="table table-bordered table-hover">
		<thead>
		<tr>
			<th> @Html.DisplayNameFor(model => model[0].Category) </th>
			<th> @Html.DisplayNameFor(model => model[0].Amount) </th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Category)</td>
				<td>$@Html.DisplayFor(modelItem => item.Amount)</td>
				<td>
					<a asp-page="./FixedExpense/Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./FixedExpense/Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
</section>