@model List<FinanceTracker.Models.Purchase>

<h1>Purchases</h1>

<table class="table table-bordered table-striped table-hover">
	<thead>
	<tr>
		<th>Id</th>
		<th>Date</th>
		<th>Description</th>
		<th>Vendor</th>
		<th>Tag</th>
		<th>Amount</th>
	</tr>

	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Id</td>
			<td>@item.Date</td>
			<td>@item.Description</td>
			<td>@item.Vendor</td>
			<td>@item.Tag</td>
			<td>$@item.Amount</td>
		</tr>
	}
	</tbody>

</table>