@model List<Models.Purchase>

<section id="purchases-wrapper" class="w-50">
	<div class="d-flex gap-3 mb-2">
		<h3>Purchases</h3>
		<a asp-page="Purchase/Create" class="btn btn-info rounded-3">Create New</a>
	</div>

	<table id="purchase-table" class="table table-bordered table-hover">
		<thead>
		<tr>
			<th> @Html.DisplayNameFor(model => model[0].Date) </th>
			<th> @Html.DisplayNameFor(model => model[0].Description) </th>
			<th> @Html.DisplayNameFor(model => model[0].Vendor) </th>
			<th> @Html.DisplayNameFor(model => model[0].Tag) </th>
			<th> @Html.DisplayNameFor(model => model[0].Amount)</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Date)</td>
				<td>@Html.DisplayFor(modelItem => item.Description)</td>
				<td>@Html.DisplayFor(modelItem => item.Vendor)</td>
				<td>@Html.DisplayFor(modelItem => item.Tag)</td>
				<td>$@Html.DisplayFor(modelItem => item.Amount)</td>
				<td>
					<a asp-page="./Purchase/Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./Purchase/Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
</section>